# Makefile for libDateTimeToWords
# Copyright (C) 2015 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = DateTimeToWords

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
        AEnglishDateToWords.cpp \
        Converter.cpp \
        EnglishDateToWords.cpp \
        EnglishTimeToWords.cpp \
        GermanDateToWords.cpp \
        GermanTimeToWords.cpp \
        PopularEnglishTimeToWords.cpp \
        RussianDateToWords.cpp \
        RussianPlurality.cpp \
        RussianTimeToWords.cpp \

LIB_EXT_LIB_NAMES = \
	HumanizerCpp \
